/LogicCircuitsBase/nbproject/private/
/LogicCircuitsBase/build/
/LogicCircuitsTable/dist/
/LogicCircuitsConform/nbproject/private/
/LogicCircuitsConform/build/
/LogicCircuitsEval/nbproject/private/
/LogicCircuitsEval/build/
/LogicCircuitsEval/dist/
/LogicCircuitsBase/dist/
/LogicCircuitsBeautify/dist/